.issue-card.card-outline-secondary {
  border-color: #666;
}

.issue-card .card-block {
  padding: 4px 4px 4px 4px;
}

.issue-card .card-title {
  font-size: 28px;
  margin-bottom: 2px;
}

.issue-card .card-title a {
  color: white;
}

.issue-card .card-subtitle {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  line-height: 16px;
  height: 16px;
}

.issue-card .card-footer {
  padding: 2px;
}
