.issue-card .card-body {
  padding: 2px 4px; }
  .issue-card .card-body a {
    color: inherit; }

.issue-card .card-title {
  font-size: 30px;
  margin-bottom: 2px; }

.issue-card .card-subtitle {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  line-height: 20px;
  height: 20px; }
